<p>Witaj, {{ user.username }}! 
   <form action="{% url 'logout' %}" method="post">
       {% csrf_token %}
       <button type="submit">Wyloguj się</button>
   </form>
</p>
<hr>

<h1>Menedżer Haseł</h1>
<a href="{% url 'add_password' %}">➕ Dodaj nowe hasło</a>


{% comment %}
    Jeśli tryb szyfrowania jest wyłączony, to dodawane hasła będą przechowywane 
    w bazie danych jako tekst jawny, a jeśli jest włączony, będą szyfrowane.
    Zmiana ma wpływ tylko na nowe hasła.
{% endcomment %}
<div>
    {% if security_on %}
        <a href="{% url 'toggle_security' %}">Wyłącz tryb szyfrowania haseł</a>
    {% else %}
        <a href="{% url 'toggle_security' %}">Włącz tryb szyfrowania haseł</a>
    {% endif %}
</div>

<ul>
    {% for entry in entries %}
        <li>
            <strong>{{ entry.website }}</strong> - 
            Login: {{ entry.username }} | 
            Hasło: <code>{{ entry.password }}</code>
        </li>
    {% endfor %}
</ul>