{% if user.is_authenticated %}
    <p>Zalogowany jako: <strong>{{ user.username }}</strong></p>
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" onclick="clearCryptoSession()">Wyloguj się</button>
    </form>
{% endif %}

<hr>
<h1>Twoje Hasła</h1>
<a href="{% url 'add_password' %}">➕ Dodaj nowe hasło</a>

<ul>
    {% for entry in entries %}
        <li>
            <strong>{{ entry.website }}</strong> - Login: {{ entry.username }} | 
            Hasło: <span id="pass-{{ entry.id }}" class="cipher-data" style="-webkit-text-security: disc;">{{ entry.password }}</span>
            <button data-id="{{ entry.id }}" onclick="togglePass(this)">Zobacz</button>
        </li>
    {% endfor %}
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
function clearCryptoSession() {
    sessionStorage.clear();
}

function togglePass(button) {
    const id = button.getAttribute('data-id');
    const x = document.getElementById("pass-" + id);
    x.style.webkitTextSecurity = (x.style.webkitTextSecurity === "none") ? "disc" : "none";
    button.textContent = (button.textContent === "Zobacz") ? "Ukryj" : "Zobacz";
}

window.onload = function() {
    const key = sessionStorage.getItem('user_crypto_key');
    
    // Jesli brak klucza
    if (!key) {
        console.warn("Brak klucza");
        
        const logoutForm = document.getElementById('logout-form');
        
        if (logoutForm) {
            logoutForm.submit();
        } else {
            window.location.href = "{% url 'login' %}";
        }
        return;
    }

    document.querySelectorAll('.cipher-data').forEach(el => {
        try {
            const bytes = CryptoJS.AES.decrypt(el.textContent, key);
            const decrypted = bytes.toString(CryptoJS.enc.Utf8);
            if (decrypted) el.textContent = decrypted;
        } catch (e) { 
            console.error("Błąd deszyfracji."); 
        }
    });
};
</script>